@use '../../../assets/css/variables.scss' as *;

.profile{
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: $textColor;
    width: 350px;
    @include flx();
    flex-direction: column;
    text-align: center;
    .img_blk{
        width: 100%;
        margin-bottom: 20px;
        @include bordered();
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
        }

    }
    strong{
        font: 35px/42px $ISB;
        color: $black;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 30px;
        color: $black;
    }
}   


@media screen and (max-width:1100px) {
    .profile{
        width: 330px;
    }
    .profile .img_blk img{
        height: 270px;
    }
    .profile strong{
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 991px) {
    .profile {
        width: 300px;
        padding: 15px;
    }
    .profile strong {
        font-size: 28px;
        line-height: 36px;
    }
    .profile p{
        margin-bottom: 20px;
    }
    .profile .img_blk img {
        height: 230px;
    }
}
@media screen and (max-width: 767px){
    .profile{
        margin: 0 auto 20px;
        p{
            margin-bottom: 15px;
        }
    }
    .profile strong {
        margin-bottom: 10px;
    }
}   

@media screen and (max-width: 650px) {
    .profile strong {
        font-size: 25px;
        line-height: 33px;
    }
}

@media screen and (max-width: 480px){
    .profile {
        width: 280px;
        padding: 10px;
    }
    .profile strong {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 7px;
    }
}