/* Fonts */
@each $ff in 'Inter-Bold', 'Inter-Light', 'Inter-Medium', 'Inter-Regular', 'Inter-SemiBold',
{
@font-face {
  font-family: "#{$ff}";
  src: url("../fonts/#{$ff}.eot");
  src: url("../fonts/#{$ff}.eot?iefix") format("embedded-opentype"),
  url("../fonts/#{$ff}.woff") format("woff"),
  url("../fonts/#{$ff}.ttf") format("truetype"),
  url("../fonts/#{$ff}.svg#{$ff}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
}